<div class="outer-container">
  <div class="jumbotron">
      <h2>General:</h2>
      <label for="title">Title:</label>
      <p id="title">{{ project.Title }}</p>
  
      <label for="description">Description:</label>
      <p id="description">{{ project.Description }}</p>
  
      <label for="maxstudents">Max students per group:</label>
      <p id="maxstudents">{{ project.MaxStudentsPerGroup }}</p>
  </div>

  <div class="jumbotron">
    <h2>Groups:</h2>
    <div class="row" *ngIf="groups">
      <app-group-view-item class="col-11 col-md-5 col-lg-3 offset-1" *ngFor="let group of groups" [group]="group"></app-group-view-item>
    </div>
      
  </div>
    
</div>
