<div class="outer-container container-flex">
    
  <div class="container-wrapper">
    <form [formGroup]="searchForm" class="form-search">
        <label for="projectId">Project Id:</label>
        <input id="projectId" class="form-control" formControlName="projectId">
        <button class="btn btn-primary ld-ext-right" (click)="search()" [disabled]="searchForm.invalid">
          Search
          <div class="spinner ld ld-ring ld-spin" *ngIf="loading"></div>
        </button>
        
      </form>

    <div class="container-select" *ngIf="showSelect">
      <label for="selectGroup">Select group</label>
      <select class="form-control" *ngIf="groups" [(ngModel)]="selectedOption" id="selectGroup">
        <option *ngFor="let group of groups">{{ group.Name }}</option>
      </select>

      <label>Or create new group</label>
      <input type="text" placeholder="groupname" class="form-control" [(ngModel)]="newGroup"/>
      

      <button class="btn btn-primary" (click)="participate()">Participate</button>
    </div>
  </div>
</div>
