<div class="outer-container container-flex">
    <h1>Welcome Thomas</h1>

    <div class="container-fluid tile-container">
     <div class="row">

        <ng-container *ngIf="isTeacher()">
                <div class="btn btn-primary card col-4 offset-2" (click)="newProjectClick()">
                    <div class="card-body">
                        <h5 class="card-title">Create Project</h5>
                    </div>
                </div>
        </ng-container>
       
        <ng-container *ngIf="!isTeacher()">
                <div class="btn btn-primary card col-4 offset-2" (click)="participateClick()">
                    <div class="card-body">
                        <h5 class="card-title">Particpate to project</h5>
                    </div>
                </div>
        </ng-container>

          <div class="btn btn-primary card col-4" (click)="viewProjectsClick()">
              <div class="card-body">
                <h5 class="card-title">View Projects</h5>
              </div>
          </div>
     </div>
     
    </div>
</div>

