@import '../../variables.scss';

.container-flex{
    flex-direction: column;
    
    h1{
        align-self: center;
        margin-bottom: 2%;
    }

    ul{
        width: 100%;
        padding: 0;
        app-projectoverview-item{
            width: 100%;;
        }
    }

    
    

}