<div class="outer-container container-flex">
  <h1>Your projects</h1>

  <ul class="list-group container-fluid">
    <li class="list-group-item row">
      <p class="col-8 col-lg-10">Software Engineering</p>
      <a href (click)="navigateToDetail($event)" class="col-2 col-lg-1">View</a>
      <a href="#"  class="col-2 col-lg-1">Edit</a>
    </li>
    
    <li class="list-group-item row">
      <p class="col-8 col-lg-10">Mobile & Enterprise</p>
      <a href (click)="navigateToDetail($event)" class="col-2 col-lg-1">View</a>
      <a href="#"  class="col-2 col-lg-1">Edit</a>
    </li>

    <li class="list-group-item row">
      <p class="col-8 col-lg-10">Programming Advanced</p>
      <a href (click)="navigateToDetail($event)"  class="col-2 col-lg-1">View</a>
      <a href="#"  class="col-2 col-lg-1">Edit</a>
    </li>

    <li class="list-group-item row">
      <p class="col-8 col-lg-10">Programming Expert</p>
      <a href (click)="navigateToDetail($event)" class="col-2 col-lg-1">View</a>
      <a href="#"  class="col-2 col-lg-1">Edit</a>
    </li>
    
  </ul>
</div>
